@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

$text-color: hsl(229, 25%, 31%);
$score-text-color: hsl(229, 64%, 46%);
$outline-color: hsl(217, 16%, 45%);
$bg-gradient: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));

// $scissors-gradient: linear-gradient(hsl(237, 49%, 15%), hsl(40, 84%, 53%));
// $paper-gradient: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
// $rock-gradient: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
// $lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
// $spock-gradient: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

$scissors-color: hsl(40, 84%, 53%);
$paper-color: hsl(230, 89%, 62%);
$rock-color: hsl(349, 71%, 52%);
$lizard-color: hsl(261, 73%, 60%);
$spock-color: hsl(189, 59%, 53%);

$font-family-default: "Barlow Semi Condensed", sans-serif;
